#anketa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.respondent {
  width: 143px; 
  padding: 10px;
  margin-bottom: 20px;
}

.portret {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  border-radius: 50%;
}

.bio {
  text-align: center;
  background-color: #F5F5F5;
  margin-bottom: 3px;
  font-size: 85%;
}

.bio.podpora {
  background-color: #a1d99b;
}

.bio.sympatizant {
  background-color: #fe9929;
}

.jmeno {
  font-weight: bold;
}

.odpoved {
  font-size: 80%;
  color: black;
  margin-top: 0px;
  margin-bottom: 1px;
}

.cervene {
  color: red;
}
